@import 'assets/scss/colors.scss';

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--justfund--ds-white);
  scrollbar-color: var(--justfund--ds--scrollbar) var(--justfund--ds--trackBar);
}